<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Описание сайта">
    <meta name="keywords" content="Ключевые слова">
    <meta name="language" content="RU, EN">
    <meta name="author" content="Сидоров Сергей, sergey.4181.s@yandex.ru">

    <title>Регистрация</title>
    <link rel="stylesheet" th:href="@{/css/registration.css}">
</head>
    <body>
        <header>
            <h1><a id="logo" href = "/">Recipes</a></h1>

            <nav sec:authorize="isAuthenticated()">
                <a class="account" href=""></a>
            </nav>

            <nav sec:authorize="isAnonymous()">
                <a class="account" href ="/login"></a>
            </nav>
        </header>
        <main>
            <form sec:authorize="isAnonymous()" method="POST" th:action="@{/registration}" th:object="${userForm}">
                <h1>Регистрация</h1>
                <input type="text" th:field="*{username}" placeholder="Логин"/>
                <br>
                <input type="password" th:field="*{password}" placeholder="Пароль"/>
                <br>
                <input type="password" name="passwordConfirm" placeholder="Подтверждение пароля"/>
                <br>
                <input type="submit" value="Зарегистрироваться">
                <br>
                <label for="link">Уже есть аккаунт?</label>
                <a id="link" href="/login">Авторизоваться</a>
            </form>
            <div id="error" sec:authorize="isAnonymous()" th:text="*{error}"></div>
            <div id="authError" sec:authorize="isAuthenticated()">Вы уже авторизованы</div>
        </main>
    </body>
</html>